@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .title {
      color: #c3c4c7;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 12px;

      @include lg {
        display: none;
      }
    }

    .itemList {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 5px;
      color: $main-color;
      transition: 0.1s all;

      &:hover {
        background-color: $soft-bg;
        width: 100%;
        border-radius: 10px;
      }

      .itemListText {
        @include lg {
          display: none;
        }
      }
    }
  }
}
